<mat-card class="mx-auto mt-32 max-w-lg bg-white p-8">
     <form [formGroup]="loginForm " (ngSubmit)="onSubmit()">

         <div class="mb-6 text-center">
             <h1 class="text-3l text-primary font-semibold">Login</h1>

         </div>
         <mat-form-field class="mb-4 w-full" appearance="outline">
             <mat-label>Email address</mat-label>
             <input formControlName="email" type="email" placeholder="name@example.com" matInput />
         </mat-form-field>


         <mat-form-field class="mb-4 w-full" appearance="outline">
             <mat-label>Password</mat-label>
             <input formControlName="password" type="password" placeholder="name@example.com" matInput />
         </mat-form-field>
         <button mat-flat-button type="submit" class="w-full py-2">Sign in</button>
     </form>
</mat-card>
